.navigation{
    display:flex;
    margin-left: 525px;
    margin-top: -542px;
}

.navi_icon{
    display: flex;
    margin-left: 125px;
    font-size: 20px;
    font-stretch: expanded;
    margin-top: -5px;
}

.navi_icon :hover{
    color:grey;
    cursor: pointer;
}

/* .navi_icon > h1{
    font-size: 20px;
    margin-top: -1px;
    margin-left: 7px;;
} */


